$normal-font: Georgia, "Times New Roman", Times, serif;

$code-font-family: Menlo, Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;

$breadcrumbs-width: 220px;

// okay so I have no idea about this grid anad height stuff, 
// I got it from https://css-tricks.com/couple-takes-sticky-footer/
html {
    height: 100%;
}
body {
    min-height: 95%;
    display: grid;
    grid-template-rows: 1fr auto;
}
.bottom_nav {
    grid-row-start: 2;
    grid-row-end: 3;
}


body {
    font: 13pt $normal-font;
    line-height: 1.4;
    margin: 30px;
    margin-top: 5px;
    background: #FFFFEE;
}
div.normal_page {
    margin-left: $breadcrumbs-width + 30;
    // min-height: 80vh; // 80% of viewport height, move footer down to bottom
}
h1 {
  text-align: center;
}
a:hover {
  background-color: #e1e4ec;
}
a:active {
  background-color: purple;
}
code {
    font-family: $code-font-family;
    font-size: 95%;
}
pre code {
    background: #FDFDFD;
    white-space: pre;
    word-wrap: none;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 4px;
    border: 1px solid #292929;
    position: relative;
    font-family: $code-font-family;
    display: block;
    margin: 10px;
    padding: 15px 16px 14px;
    font-size: 80%;
    line-height: 1.4;
    color: black;
}
blockquote {
    border: 1px solid #292929;
    padding: 6px 16px 6px;
}
dt {
    font-style: italic;
    margin-top: 20px;
}
div.breadcrumbs {
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    font-size: 10.5pt;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    background: white;
    width: $breadcrumbs-width;
    
    p {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 22px;
        text-indent: -22px;
    }
}
p.header {
    font-size: 11pt;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}
div.toc {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
div.toc_level {
    padding-left: 3em;
}
.bottom_nav {
    font-size: 90%;
}
@media only screen and (max-width: 1000px) {
    div.breadcrumbs {
        visibility: hidden;
    }
    div.normal_page {
        margin-left: 0px;
    }
}
